## NIKHIL GAUTAM
## 2019UCO1610

### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

### Dataset

In [7]:
df= pd.read_csv('MELBOURNE_HOUSE_PRICES_LESS.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,01-04-2017,3067,Northern Metropolitan,4019.0,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,01-04-2017,3067,Northern Metropolitan,4019.0,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,01-04-2017,3067,Northern Metropolitan,4019.0,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,01-04-2017,3040,Western Metropolitan,NaN,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,01-04-2017,3042,Western Metropolitan,3464.0,NaN,Moonee Valley City Council

### Removing Unnecessary attributess

In [8]:
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount', 
               'Distance', 'CouncilArea', 'Price']
df = df[cols_to_use]

In [9]:
df.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Price
0,Abbotsford,3,h,S,Jellis,Northern Metropolitan,4019.0,3.0,Yarra City Council,1490000.0
1,Abbotsford,3,h,S,Marshall,Northern Metropolitan,4019.0,3.0,Yarra City Council,1220000.0
2,Abbotsford,3,h,S,Nelson,Northern Metropolitan,4019.0,3.0,Yarra City Council,1420000.0
3,Aberfeldie,3,h,S,Barry,Western Metropolitan,NaN,7.5,Moonee Valley City Council,1515000.0
4,Airport West,2,h,S,Nelson,Western Metropolitan,3464.0,NaN,Moonee Valley City Council,670000.0

In [10]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           0
Propertycount        4
Distance             4
CouncilArea          0
Price            14590
dtype: int64

In [13]:
df.Distance.mean()

12.685012456560719

In [14]:
df.Propertycount.median()

6795.0

### Filling NaN values with mean and median

In [15]:
df.Distance=df.Distance.fillna(df.Distance.mean())

In [18]:
df.Propertycount= df.Propertycount.fillna(df.Propertycount.median())

In [20]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
Price            14590
dtype: int64

In [23]:
df.dropna(inplace=True)

In [24]:
df = pd.get_dummies(df, drop_first=True)

In [25]:
df.head()

,Rooms,Propertycount,Distance,Price,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,Suburb_Albert Park,Suburb_Albion,Suburb_Alphington,...,CouncilArea_Moreland City Council,CouncilArea_Murrindindi Shire Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
0,3,4019.0,3.000000,1490000.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,3,4019.0,3.000000,1220000.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,4019.0,3.000000,1420000.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,6795.0,7.500000,1515000.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,3464.0,12.685012,670000.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Linear Regression

In [30]:
reg = linear_model.LinearRegression()
reg.fit(df[['Rooms','Propertycount','Distance']],df.Price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

### Coefficients

In [31]:
reg.coef_

array([ 3.27948972e+05, -3.69757224e+00, -3.13592212e+04])

### Intercept

In [32]:
reg.intercept_

416882.64766716363

### Predicting for any value

In [33]:
reg.predict([[4, 4019, 7]])

array([1494303.44602227])

In [34]:
3.27948972e+05*4+-3.69757224e+00*4019+-3.13592212e+04*7+416882.64766716363

1494303.4444346037