## importing dataset
### dataset:https://www.kaggle.com/c/titanic/data?select=test.csv

In [6]:
import pandas as pd
df=pd.read_csv('titanic.csv');

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### selecting relevant features

In [8]:
inputs=df[['Pclass','Sex','Age','Fare']]
target=df['Survived']

In [9]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
Pclass    891 non-null int64
Sex       891 non-null object
Age       714 non-null float64
Fare      891 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 24.4+ KB

In [10]:
inputs.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

### filling null values with mean value

In [11]:
inputs['Age'].fillna(inputs['Age'].mean(),inplace=True)

c:\users\gopal gautam\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [12]:
inputs.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

### converting categorical values into numerical values

In [13]:
sex_dummies=pd.get_dummies(inputs.Sex,prefix="Sex")
inputs=pd.concat([inputs,sex_dummies],axis="columns")

In [14]:
inputs=inputs.drop(['Sex'],axis="columns")

In [15]:
inputs.head()

   Pclass   Age     Fare  Sex_female  Sex_male
0       3  22.0   7.2500           0         1
1       1  38.0  71.2833           1         0
2       3  26.0   7.9250           1         0
3       1  35.0  53.1000           1         0
4       3  35.0   8.0500           0         1

### creating a decision tree model

In [16]:
import sklearn
print(sklearn.__version__)

0.20.0

In [17]:
from sklearn import tree

### decision tree with Gini impurity

In [18]:
model=tree.DecisionTreeClassifier()

### fitting the model

In [19]:
model.fit(inputs,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [20]:
model.score(inputs,target)

0.9797979797979798

In [21]:
import matplotlib.pyplot as plt

In [28]:
fig=model.fit(inputs,target)
tree.plot_tree(fig)
plt.show()

AttributeError: module 'sklearn.tree' has no attribute 'plot_tree'

### decision tree with entropy

In [23]:
model2=tree.DecisionTreeClassifier(criterion='entropy')

In [25]:
model2.fit(inputs,target)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [26]:
model2.score(inputs,target)

0.9797979797979798

In [27]:
model.predict([[3,22,7.25,0,1]])

array([0], dtype=int64)