### Importing dataset

In [1]:
import pandas as pd
df=pd.read_csv('HR_comma_sep.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [11]:
df.Department.value_counts()

7    4140
9    2720
8    2229
0    1227
6     902
5     858
1     787
2     767
3     739
4     630
Name: Department, dtype: int64

### Label Encoding the categorical attributes, i.e converting 'Department' and 'salary'into numerical values

In [2]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

df['Department']=le.fit_transform(df['Department'])
df['salary']=le.fit_transform(df['salary'])

In [3]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [12]:
inputs=df.drop(['left'],axis='columns')
target=df['left']

### Splitting the dataset into training and testing data

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.3)

### Fitting the MLP model

In [18]:
from sklearn.neural_network import MLPClassifier
model=MLPClassifier(
    hidden_layer_sizes=(6,5),
    random_state=5,
    verbose=True,
    learning_rate_init=0.01,
)

model.fit(x_train,y_train)

Iteration 1, loss = 0.62363859
Iteration 2, loss = 0.57486379
Iteration 3, loss = 0.54985020
Iteration 4, loss = 0.51853447
Iteration 5, loss = 0.49219529
Iteration 6, loss = 0.47135714
Iteration 7, loss = 0.47312449
Iteration 8, loss = 0.44411581
Iteration 9, loss = 0.40573571
Iteration 10, loss = 0.38132706
Iteration 11, loss = 0.34755851
Iteration 12, loss = 0.34030881
Iteration 13, loss = 0.33183776
Iteration 14, loss = 0.31428077
Iteration 15, loss = 0.32588609
Iteration 16, loss = 0.30772089
Iteration 17, loss = 0.30260190
Iteration 18, loss = 0.30578518
Iteration 19, loss = 0.30474306
Iteration 20, loss = 0.29420207
Iteration 21, loss = 0.29925390
Iteration 22, loss = 0.29389026
Iteration 23, loss = 0.28458631
Iteration 24, loss = 0.28592340
Iteration 25, loss = 0.28584618
Iteration 26, loss = 0.29516246
Iteration 27, loss = 0.28707545
Iteration 28, loss = 0.27993742
Iteration 29, loss = 0.28633533
Iteration 30, loss = 0.27487319
Iteration 31, loss = 0.27776176
Iteration 32, loss = 0.28141472
Iteration 33, loss = 0.27990464
Iteration 34, loss = 0.27934390
Iteration 35, loss = 0.27220846
Iteration 36, loss = 0.28144433
Iteration 37, loss = 0.26787384
Iteration 38, loss = 0.26541324
Iteration 39, loss = 0.27709535
Iteration 40, loss = 0.26113123
Iteration 41, loss = 0.27637055
Iteration 42, loss = 0.28188482
Iteration 43, loss = 0.28804838
Iteration 44, loss = 0.26032140
Iteration 45, loss = 0.26355896
Iteration 46, loss = 0.26332265
Iteration 47, loss = 0.24892506
Iteration 48, loss = 0.25666019
Iteration 49, loss = 0.25573647
Iteration 50, loss = 0.25622606
Iteration 51, loss = 0.24861143
Iteration 52, loss = 0.28725926
Iteration 53, loss = 0.25457433
Iteration 54, loss = 0.27566882
Iteration 55, loss = 0.26666518
Iteration 56, loss = 0.24911732
Iteration 57, loss = 0.24821914
Iteration 58, loss = 0.25046091
Iteration 59, loss = 0.26635759
Iteration 60, loss = 0.25943031
Iteration 61, loss = 0.24880945
Iteration 62, loss = 0.25014006
Iteration 63, loss = 0.25672846
Iteration 64, loss = 0.25285800
Iteration 65, loss = 0.25732221
Iteration 66, loss = 0.28339452
Iteration 67, loss = 0.24612690
Iteration 68, loss = 0.25789375
Iteration 69, loss = 0.26313949
Iteration 70, loss = 0.24234632
Iteration 71, loss = 0.24246816
Iteration 72, loss = 0.24911785
Iteration 73, loss = 0.25595453
Iteration 74, loss = 0.26792601
Iteration 75, loss = 0.25290596
Iteration 76, loss = 0.25480711
Iteration 77, loss = 0.27221499
Iteration 78, loss = 0.25096511
Iteration 79, loss = 0.24788265
Iteration 80, loss = 0.24412560
Iteration 81, loss = 0.24618908
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(6, 5), learning_rate='constant',
       learning_rate_init=0.01, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=5, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=True, warm_start=False)

In [19]:
model.score(x_test,y_test)

0.9048888888888889